<div class="pdf-reader-container">
    <div class="carousel-part carousel-part-1">
        <div class="text-part">
            <h1 >Foxit Reader Online</h1>
            <h4  class="p-tb-40">Read, Comment and Connect PDF Files Online</h4>
            <button class="btn btn-primary adjust-btn-size " (click)="goTo('/view-and-edit')" >Launch now</button>
        </div>
    </div>
    <div class="carousel-part carousel-part-2">
        <div class="text-part">
            <h1 >Foxit Drive</h1>
            <h4 class="p-tb-40" >Store and retrieve your files anywhere, on any device.</h4>
            <button class="btn btn-primary btn-primary-clear adjust-btn-size " (click)="goTo('/foxit-drive')" >Enter Foxit Drive</button>
        </div>
    </div>
    <div class="app-brief container-fluid">
        <div class="row item-container">
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature1.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Connected PDF Files Online</h3>
                        <p >Create ConnectedPDF files.Initiate collaboration reviews.Track document usage, like as who read it, comment on it.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature2.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Read PDF Files Online </h3>
                        <p >Foxit Reader Online is an online PDF reader, which allows users to open, read and annotate PDF files in all popular browsers. It supports Chinese, Korean, Japanese, English and most European languages.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature3.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Simple, Secure File Sharing </h3>
                        <p >Share file through links, directly to social media, or using QR codes.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature4.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Comment PDF Files Online </h3>
                        <p >Provide comments to documents with a large variety of annotation tools, such as highlight, underline, squiggly underline, circle, arrow, polygon, rectangle and much more.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature5.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Manage Comments Online </h3>
                        <p >Easy to add, search and manage comments. Support for importing/exporting annotations to/from an FDF file.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature6.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Fill Forms Online </h3>
                        <p >Support to fill standard PDF forms.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature7.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Add Stamps into PDF Files Online </h3>
                        <p >Support to apply stamps from an existing stamp group on PDF documents.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style" (click)="openLinkInNewTab('pdf-to-excel')">
                    <div class="img-container"><img src="/img/pr-feature8.png" alt=""></div>
                    <div class="text-container">
                        <h3 >Sign PDF Documents Online </h3>
                        <p >Draw a signature in your handwriting and sign documents.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <h3>Contacts:</h3>
        <div class="adjust-with">
            <p class="m-0 clearfix"><span class="pull-left" >Sales: 1-866-680-3668</span><span class="pull-right" >Support & General: 1-866-MYFOXIT OR 1-866-693-6948</span></p>
            <p class="clearfix"><span class="pull-left" >Sales: sales@foxitsoftware.com</span><span class="pull-right" >Business Development: bd@foxitsoftware.com</span></p>
        </div>
        <div class="text-center">
            <p class="m-0"><span >Foxit Corporation</span><span class="pd-lr-20">|</span><img src="/img/little-foxy.png" alt=""><span class="pd-lr-20">|</span><span >Private Policy</span></p>
            <p >©2017 Foxit Software Incorporated. All rights reserved.</p>
        </div>

    </div>
</div>

